* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background: #f2f3f3;
}
.main {
  width: 75%;
  margin: auto;
  margin-top: 7%;
  margin-bottom: 60px;
}

.uLine {
  width: inherit;
  margin: auto;
  border: 0.1px solid rgb(236, 227, 227);
  position: absolute;
  top: 185px;
}

div h2 {
  font-size: x-large;
  font-weight: 600;
  margin-bottom: 25px;
  color: #434343;
}

.sDiv {
  display: flex;
  width: 60%;
  justify-content: space-between;
  margin-bottom: 40px;
  cursor: pointer;
}

.sDiv h3 {
  font-weight: 400;
}

#fH3 {
  font-weight: 500;
  text-decoration: underline 4px rgb(55, 55, 153);
  text-underline-offset: 17px;
}

.mainImg {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}

.imgDiv {
  background-color: #ffff;
  height: 120px;  
  border-radius: 5px;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.imgDiv p {
  font-size: medium;
  font-weight: 300;
  transition: font-weight 0.3s ease-in-out;
}

.imgDiv:hover {
  cursor: pointer;
  font-weight: 500;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
}
.imgDiv:hover p {
  font-weight: 500;
}

.iconLeft {
  position: absolute;
  height: 48px;
  width: 48px;
  background: #ffffff;
  border-radius: 50%;
  top: 310px;
  left: 135px;
  transition: color 0.5s;
  transition: background-color 0.5s;
}
.iconLeft i {
  color: #808ca9;
  position: absolute;
  bottom: 35%;
  right: 45%;
}
.iconLeft:hover {
  background: #518ecb;
  cursor: pointer;
}
.iconLeft:hover i {
  color: #fff;
}

.iconRight {
  position: absolute;
  height: 48px;
  width: 48px;
  background: #ffffff;
  border-radius: 50%;
  top: 310px;
  right: 133px;
  transition: color 0.5s;
  transition: background-color 0.5s;
}
.iconRight i,
.rightIcon i {
  color: #808ca9;
  position: absolute;
  bottom: 34%;
  right: 38%;
}
.iconRight:hover {
  background: #518ecb;
  cursor: pointer;
}
.iconRight:hover i {
  color: #fff;
}
/*  */
/* container div */

.containerDiv {
  background-color: #ffffff;
  height: 635px;
  width: 100%;
}

.heading {
  width: 75%;
  margin: auto;
  padding-top: 35px;
}

.gridDiv {
  width: 75%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.col2Div {
  height: 110px;
  display: flex;
  border: 0.7px solid rgb(236, 227, 227);
  border-radius: 4px;
  background-color: #fff;
  align-items: center;
  padding-left: 20px;
  transition: box-shadow 0.3s ease-in-out;
}
.col2Div:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.col2Div:hover .ch4 {
  color: #3764ce;
}

.txtGrid {
  padding-left: 20px;
}
/*  */
/* Second div */

.secondDiv {
  width: 75%;  
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.topDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topDiv a {
  text-decoration: none;
  font-size: small;
  position: absolute;
  right: 125px;
}

.topDiv a:hover {
  text-decoration: underline;
}

.imageDiv {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.imgDesc {
  background-color: #fff;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0px;
  padding-left: 6px;
  gap: 4px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.imgDesc h4,
.ch4 {
  color: #233d7b;
}

.imgDesc h4 {
  font-size: medium;
}
.imgDesc .p,
.sP {
  font-size: small;
}

.imgDesc h4,
.ch4:hover {
  color: #3764ce;
  cursor: pointer;
}
.imgDesc .p {
  color: #3eb549;
}

.sP {
  color: #7b8397;
}

.rightIcon {
  position: absolute;
  height: 48px;
  width: 48px;
  background: #ffffff;
  border-radius: 50%;
  top: 120px;
  left: 1040px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s;
  transition: color 0.5s;
}
.leftIcon {
  position: absolute;
  height: 48px;
  width: 48px;
  background: #ffffff;
  border-radius: 50%;
  top: 120px;
  right: 990px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: color 0.5s;
  transition: background-color 0.5s;
}
.leftIcon i {
  color: #808ca9;
  position: absolute;
  bottom: 35%;
  right: 45%;
}

.rightIcon:hover {
  background: #518ecb;
  cursor: pointer;
}
.leftIcon:hover {
  background: #518ecb;
  cursor: pointer;
}

.rightIcon:hover i,
.leftIcon:hover i {
  color: #fff;
}

.fthDiv{
  background-color: #fff;
  height: 450px;
  padding-top: 10px;
}

/* ftr div */

.ftrDiv{
    width: 75%;
    margin: auto;
}

.uLine2{
width: 79%;
margin: auto;
border: 0.1px solid rgb(236, 227, 227);
position: absolute;
top: 2218px;

}
.wDiv{
    width: 1064px;
    height: 280px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.wRdiv{
    background-color: #fff;
}

.fcar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fcar h4{
    color: #233d7b;
}

.fcar .p{
    color: #3eb549;
    padding: 4px 0px 10px 0px;
}
.stars{
    color: #7b8397;
}

.fcar h4:hover{
    color: #3764ce;
    cursor: pointer;
}

.newCarDiv{
    width: 75%;
    margin: auto;
    margin-top: 80px;
}

.logos{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    max-width: 100%;
    height: auto;
    gap: 30px;
}

.logoName{
    color: #233d7b;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.logoName:hover{
    color: #3764ce;
    cursor: pointer;
}

.logoBg{
    height: 80px;
    width: 80px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}